/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Fonts */
.Montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  transition: background-color 1s;
  transition: height 0.7s;
  font-size: 18px;
}

.nav ul li {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.background {
  transition: background-color 1s;
  background-color: black;
  height: 80px;
  transition: height 1s;
}

.nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
  color: white;
}

.top-nav-button {
  border-radius: 8px;
  padding: 6px 17px;
}

/* Landing Page */
.landingPage {
  background-image: url(./assets/Landing.svg);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-background {
  margin-top: 40px;
  background-image: url(./assets/LandingPage/ButtonBackground.png);
  border: 0;
  color: white;
  font-size: 1.2em;
  height: 50px;
  width: 170px;
  border-radius: 6px;
}

/* Services */
.services {
  margin-top: 70px;
  display: flex;
  gap: 40px;
  padding: 0 2% 0 4%;
}

.company-info {
  border: solid rgb(188, 20, 20) 3px;
  flex: 1;
  text-align: center;
  padding: 5% 0 2% 0;
  color: rgb(84, 84, 84);
}

.our-services {
  flex: 2;
}
